/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 1 | $warning: #FFA500;
 *   |                  ^
 *   '
 *   colores.sass 1:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 1 \2502  $warning: #FFA500;\a   \2502                   ^\a   \2575 \a   colores.sass 1:18  root stylesheet";
}
