@charset "UTF-8";

b,
strong {
  font-weight: 1px;
}

*{
  font-family:"Roboto Condensed";
}

.navbar .nav-link:hover {
  color: orangered; /* Este es el color que se aplicará al hacer hover */
}

.dropdown-menu{
  z-index: 2000;
}

h1,h2,h3,h4,h5,h6 {
  color: #555;
  width: 100%;
  margin-top: 0;
  margin-bottom: .5em;
  text-rendering: optimizeSpeed
}

.h1,h1 {
  font-size: 1.7em;
  line-height: 1.3
}

.h2,h2 {
  font-size: 1.6em;
  line-height: 1.3
}

.h3,h3 {
  font-size: 1.25em
}

.h4,h4 {
  font-size: 1.125em
}

.h5,h5 {
  font-size: 1em
}

.h6,h6 {
  font-size: .85em;
  opacity: .8
}

.categoria{
  font-family: Georgia, serif;
  font-size: xx-large;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: white;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: 0 0 2px black, 0 0 10px black;
}
.producto{
  font-family: Georgia, serif;
  font-size: x-large;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: white;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: 0 0 2px black, 0 0 10px black;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
 /*   color: red;*/
  }

.btn{
  border-style: solid;
  border-width: 2px;
  color:black
}

.map-container iframe {

  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.section-title b {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 2px;
  opacity: .1;
  background-color: currentColor
}
.section-title {
  position: relative;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.section-title i {
  opacity: .6;
  margin-right: 0.5em
}

.section-title i.icon-angle-right {
  margin-right: 0;
  margin-left: 10px
}

.section-title span {
  text-transform: uppercase
}

.section-title small {
  text-transform: none;
  font-weight: normal;
  padding-left: 15px;
  font-size: 1em;
  opacity: .7
}

.section-title-center span {
  margin: 0 15px
}

.section-title-center span,.section-title-bold-center span {
  text-align: center
}

.section-title-center small,.section-title-bold-center small {
  padding: 0 15px;
  display: block
}

.section-title-bold-center span,.section-title-bold span {
  border: 2px solid rgba(0,0,0,0.1);
  padding: .3em .8em
}

.section-title-bold b:first-of-type {
  display: none
}

/* clase para los subproductos  */


.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: orangered;
  color: orangered;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.btn-outline-light{
  color: white;
  text-shadow: 0 0 2px white;
}
.card{
  position: relative;
  overflow: hidden;
}
.card-img-top{
  border-color: red;  
}

.card img{
  transition: all .5s; 
}
.cardTexto{
  width: 100%;
  background-color: rgba(0,0,0,.7);
  position: absolute;
  top: -100%;
  left: 0;
  text-align: justify;
  height: 100%;
  color: #fff;
  transition: all .5s;
}

.card:hover .cardTexto{
  top: 0;
 }

 .masInfo{
  background-color: transparent;
  position: absolute;
  bottom: -100%;
  padding: 0 0 20px 120px;
  text-align: justify;
  height: 100%;
  color: #fff;
  transition: all .5s;
}

.card:hover .masInfo{
  bottom: -40%;
 }

.cardTexto h5{
  text-align: center;
  font-size: 25px;
  padding: 80px 10px;
}
.cardTexto p{
  text-align: center;
  font-size: 17px;
  padding: 90px 10px;
}
 .card:hover img{
  transform: scale(1.09);
  filter: blur(8px);
 }

 /* búsqueda */


 #searchResults {
  position: absolute;
  top: 100%;
  right: 0; /* Alinea a la derecha */
  width: 30%;
  background-color: white;
 /* border: 1px solid #ccc;*/
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}
.search-result {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos a la derecha */
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.preview {
    margin-right: 10px;
}

.preview-image {
    max-width: 100px;
    max-height: 100px;
}

.result-details {
    flex-grow: 1;
}

.product-link {
  text-decoration: none;
  color: #333; /* Color del enlace */
}

.product-link:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el cursor sobre él */
  color: orangered;
}
.category-link {
  text-decoration: none;
  color: #999; /* Color del enlace de la categoría */

}

.category-link:hover {
  text-decoration: none; /* Quita el subrayado al hacer hover */
  color: orangered; /* Cambia el color al hacer hover */
}
/* grilla de búsqueda en busqueda.html */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* carrito de compra */
.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -3px;
  left: 12px;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 10px;
}
