*{
  font-family:"Roboto Condensed";
}
h5{
  font-family: Georgia, serif;
  font-size: xx-large;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: white;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
h6{
  font-family: Georgia, serif;
  font-size: x-large;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: white;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
 /*   color: red;*/
  }

.btn{
  border-style: solid;
  border-width: 2px;
  color:black
}

.map-container iframe {

  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.section-title b {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 2px;
  opacity: .1;
  background-color: currentColor
}
.section-title {
  position: relative;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}

.section-title i {
  opacity: .6;
  margin-right: 0.5em
}

.section-title i.icon-angle-right {
  margin-right: 0;
  margin-left: 10px
}

.section-title span {
  text-transform: uppercase
}

.section-title small {
  text-transform: none;
  font-weight: normal;
  padding-left: 15px;
  font-size: 1em;
  opacity: .7
}